<a href="https://colab.research.google.com/github/Harshitha-guda/B2_PFDS_1102/blob/main/PFDS_Lab6_11Sep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sales Dataset – Removing Duplicates

In [1]:
 import pandas as pd
 # Create Sample Sales Dataset with Duplicate Entries
 data = {
 'TransactionID': [1001, 1002, 1003, 1001, 1004, 1002, 1005],
 'Product': ['Laptop', 'Mouse', 'Keyboard', 'Laptop', 'Monitor', 'Mouse', 'Headphones'],
 'Quantity': [1, 2, 1, 1, 1, 2, 1],
 'Price': [1000, 25, 45, 1000, 200, 25, 50],
 'Date': ['2025-09-10', '2025-09-10', '2025-09-11', '2025-09-10', '2025-09-12', '2025-09-10', '2025-09-13']
 }
 df = pd.DataFrame(data)
 print("Original Dataset:")
 print(df)

Original Dataset:
   TransactionID     Product  Quantity  Price        Date
0           1001      Laptop         1   1000  2025-09-10
1           1002       Mouse         2     25  2025-09-10
2           1003    Keyboard         1     45  2025-09-11
3           1001      Laptop         1   1000  2025-09-10
4           1004     Monitor         1    200  2025-09-12
5           1002       Mouse         2     25  2025-09-10
6           1005  Headphones         1     50  2025-09-13

In [2]:
 # Identify Duplicates
 duplicate_count_before = df.duplicated().sum()
 print(f"\n Duplicate records before cleaning: {duplicate_count_before}")

 Duplicate records before cleaning: 2

In [3]:
 # Remove Duplicates
 df_cleaned = df.drop_duplicates()
 duplicate_count_after = df_cleaned.duplicated().sum()
 print(f" Duplicate records after cleaning: {duplicate_count_after}")

 Duplicate records after cleaning: 0

In [4]:
 # Final Cleaned Dataset
 print("\nCleaned Dataset:")
 print(df_cleaned)
 # Save to CSV (Optional)
 df_cleaned.to_csv('cleaned_sales_dataset.csv', index=False)

Cleaned Dataset:
   TransactionID     Product  Quantity  Price        Date
0           1001      Laptop         1   1000  2025-09-10
1           1002       Mouse         2     25  2025-09-10
2           1003    Keyboard         1     45  2025-09-11
4           1004     Monitor         1    200  2025-09-12
6           1005  Headphones         1     50  2025-09-13

Employee Dataset – Converting Data Types

In [7]:
import pandas as pd
# Create dataset with Salary stored as string.
data = {
    'EmployeeID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Salary': ['50000', '60000', '55000', '70000'],
    'Joining_Date': ['2021-01-15', '2020-05-20', '2019-11-10', '2022-07-01']  # Date as string
}
df = pd.DataFrame(data)
print(" Original Data Types:")
print(df.dtypes)

 Original Data Types:
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

In [9]:
 # Convert Joining_Date to datetime
 df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])
 # Output Corrected Data Types
 print("\nCorrected Data Types:")
 print(df.dtypes)
 # Display Cleaned Data
 print("\n Cleaned Employee Dataset:")
 print(df)

Corrected Data Types:
EmployeeID               int64
Name                    object
Salary                  object
Joining_Date    datetime64[ns]
dtype: object

 Cleaned Employee Dataset:
   EmployeeID     Name Salary Joining_Date
0         101    Alice  50000   2021-01-15
1         102      Bob  60000   2020-05-20
2         103  Charlie  55000   2019-11-10
3         104    Diana  70000   2022-07-01